*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    padding: 15px;
    text-align: center;
}
main {
    padding: 20px;
}

article {
    background-color: #111;
    padding: 10px;
    margin: 10px;
    border-left: 5px double red;
    
}

aside {
    background-color: #222;
    padding: 15px;
}

footer {
    background-color: red;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
img{
    width: 200px;
}

.contenedor-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap; /* Ayuda acomodar para la responsibilidad */

}

.carta {
    background-color: #111;
    padding: 15px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.carta img {
    width: 100%;
    border-radius: 8px;
}

.carta a {
    display: block;  /* hace que el elemento se comporte como un elemento en bloque.*/
    font-weight: bold;
    color: red;
}
@media (max-width: 700px) {
   .contenedor-flex {
        flex-direction: column;
        align-items: center;
    }
    .carta {
        width: 90%;
    }
}