body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    color: black;
    background-color: white;
    padding: 5px;
}

main {
    padding: 20px;
}

article {
    background-color: #111;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid red;
}

aside {
    background-color: #222;
    padding: 15px;
}

footer {
    background-color: red;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
img{
    width: 200px;
}